* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    background-color: #F7F7F7;
    color: #707070;
}

.ulWrapper {
    border-bottom: 2px solid #EBEBEB;
}


ul {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    padding: 10px;
    margin: 0 140px;
}

ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 48px;
}


ul li h1 {
    font-size: 44px;
    border-radius: 6px;
}

ul li h1, ul li h4 {
    cursor: pointer;
}

ul li h4 img {
    width: 5%;
    height: 5%;
}

.underline {
    position: absolute;
    top: 65px;
    left: 147px;
    width: 95px;
    height: 7px;
    background-color: #B5C401;
    border-radius: 6px;
}

.mainContent {
    display: flex;
    padding: 0 150px;
    justify-content: space-evenly;
    padding-top: 50px;
}

.gameContent {
    width: 100%;
    font-style: italic;
    line-height: 20px;
}

.for {
    font-weight: normal;
}

.newBet {
    font-size: 24px;
    padding: 30px 0;
}

.gameContent p {
    font-size: 17px;
}

.Quina, .Mega-Sena, .Lotofácil {
    width: 113px;
    height: 34px;
    border-radius: 100px;
    margin-right: 15px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}

.Quina {
    color: #F79C31;
    border: 2px solid #F79C31;
    background-color: #fff;
}

.Quina:active, .Quina:hover {
    color: #fff;
    background-color: #F79C31;
    transition-duration: 0.4s;
}

.Lotofácil {
    color: #7F3992;
    border: 2px solid #7F3992;
    background-color: #fff;
}

.Lotofácil:active, .Lotofácil:hover {
    color: #fff;
    background-color: #7F3992;
    transition-duration: 0.4s;
}

.Mega-Sena {
    color: #01AC66;
    border: 2px solid #01AC66;
    background-color: #fff;
}

.Mega-Sena:active, .Mega-Sena:hover {
    color: #fff;
    background-color: #01AC66;
    transition-duration: 0.4s;
}

.buttonsArea {
    padding: 20px;
}

.descriptionArea {
    margin-top: 5px;
    max-width: 90%;
}

.numbersArea {
    width: 95%;
    margin: 20px 0;
}

.number {
    width: 63px;
    height: 65px;
    background-color: #ADC0C4;
    font-weight: bold;
    font-size: 20px;
    margin: 6px;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.number:hover {
    background-color: #777;
    transition-duration: 0.4s;
}

.number-selected {
    background-color: #000;
}

.cartContent {
    width: 450px;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #E2E2E2;
}

.cartContent h3 {
    font-size: 24px;
    font-style: italic;
    padding: 15px 0;
}

.padding {
    padding: 15px;
}

.cartAreaItem {
    display: flex;
    padding: 15px 0;
}

.cartAreaItem img {
    width: 10%;
    height: 50%;
    cursor: pointer;
    align-self: center;
}

.coloredBar {
    width: 4px;
    height: 86px;
    border-radius: 100px 0px 0px 100px;
    margin: 0 10px;
}

.betCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.numbersBet {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

.nameAndPrice {
    display: flex;
    font-size: 16px;
    gap: 10px;
}

.funcButtons {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    width: 92%;
}

.gameButtons {
    display: flex;
    gap: 25px;
}

.gameButton1, .gameButton2 {
    color: #27C383;
    background-color: #FFF;
    border: 1.5px solid #27C383;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.gameButton1:hover, .gameButton2:hover {
    background-color: #27C383;
    color: #Fff;
    transition-duration: 0.4s;
}

.gameButton1 {
    width: 164px;
    height: 52px;
}

.gameButton2 {
    width: 135px;
    height: 52px;
}

.addCart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 209px;
    height: 52px;
    background-color: #27C383;
    color: #fff;
    border: 1.5px solid #27C383;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    gap: 30px;
}

.addCart:hover {
    background-color: #fff;
    color: #27C383;
    transition-duration: 0.4s;
}


.addCart img {
    color: #fff;
}


.saveCart {
    width: 100%;
    height: 96px;
    font-size: 35px;
    font-style: italic;
    color: #27C383;
    border: none;
    cursor: pointer;
}

.saveCart:hover {
    background-color: #27C383;
    color: #fff;
    transition-duration: .4s;
}

.btnArea {
    border-top: 1px solid #E2E2E2;
}

hr {
    border-top: 2px solid #EBEBEB;
    margin-top: 40px;
}

.footer {
    padding-top: 20px;
    font-size: 10px;
    text-align: center;
    align-self: flex-end;
    font-weight: lighter;
    padding: 20px;
}


